#!/bin/bash

REGISTRY=registry.thinhlh.com

docker run \
    --env MONGO_INITDB_HOST=${mongo_host} \
    --env MONGO_INITDB_PORT=${mongo_port} \
    --env MONGO_INITDB_DATABASE=${mongo_db_name} \
    --env MONGO_INITDB_ROOT_USERNAME=${mongo_username} \
    --env MONGO_INITDB_ROOT_PASSWORD=${mongo_password} \
    -p 8084:8084 \
    --name healthcheck_container \
    -d \
    $REGISTRY/healthcheck_service:latest