#!/bin/bash

REGISTRY=registry.thinhlh.com

docker run \
    --env MONGO_INITDB_HOST=${mongo_host} \
    --env MONGO_INITDB_PORT=${mongo_port} \
    --env MONGO_INITDB_DATABASE=${mongo_db_name} \
    --env MONGO_INITDB_ROOT_USERNAME=${mongo_username} \
    --env MONGO_INITDB_ROOT_PASSWORD=${mongo_password} \
    --env DOMAIN_URL=${domain_url} \
    -p 8088:8088 \
    --name mail_container \
    -d \
    $REGISTRY/mail_service:latest